.redborder { border: 2px solid red; }

/* Setup headers and footers */
header, footer { text-align: center }

header h1, footer
{
	background: #2e7997;  
	color: #FFFFFF;
    clear: both;
    padding: 5px;
}


header a
{
    display: inline-block;
    margin: 1px 2%;
    font-size: 120%;
    color: #000040;
    line-height: 200%;
}

#ContactLink
{
	color: #FFFFFF;
}

/* Setup other styling */
body
{
    margin: 1%;
}


section
{
	margin: 10px;
}

aside
{
	float: right;
	text-align: center;
}

form
{
	text-align: center;
	margin: 5%;
}

table 
{
  border-collapse: separate;
  border-spacing: 0;
  width: 96%;
  margin: 10px 2%;
}

#NoDataMsg
{
	color: #ff4911;
	font-weight: bold;
	font-varian: small-caps;
	margin: 10px 2%;
	text-align: center;
}

th, td 
{
  padding: 6px 15px;
}

th 
{
  background: #42444e;
  color: #fff;
  text-align: left;
}
