/* Setup headers and footers */

body
{ 
	min-height: calc(100vh - 61px);
	padding: 1px 0px 60px 0px; /* add padding to avoid margin collapse with adjoining header */
    margin: 0;
    position: relative; /* for positioning of the footer */
}


main
{
    /*border: 2px solid red;*/
    padding: 5px;
    margin: 1%;
}

header, footer 
{ 
	text-align: center;
	background: #2e7997;  
	color: #FFFFFF;
    clear: both;
    padding: 5px;
    margin: 1%;
}


footer 
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}


header a
{
    display: inline-block;
    margin: 1px 2%;
    font-size: 120%;
    color: #FFFFFF;
    line-height: 200%;
}

footer a
{
	color: #FFFFFF;
}

/* Setup of main styling */
section
{
	margin: 10px;
}

aside
{
	float: right;
	text-align: center;
	margin: 0px 0px 0px 0px;
	width: 300px;
}

figure img
{
	widht: 200px;
	height: 200px;
}

blockquote, p
{
    margin: 0;
}

/* Setup of Login form */
form
{
	text-align: center;
	margin: 5%;
}

.redborder { border: 2px solid red; }

label::after
{
    color: red;
    content: " Value should not be blank!";
}

/* Setup of statistics */
table 
{
  border-collapse: separate;
  border-spacing: 0;
  width: 96%;
  margin: 10px 2%;
}

#NoDataMsg
{
	color: #ff4911;
	font-weight: bold;
	font-varian: small-caps;
	margin: 10px 2%;
	text-align: center;
}

th, td 
{
  padding: 6px 15px;
}

th 
{
  background: #42444e;
  color: #fff;
  text-align: left;
}

/* clear the area after to avoid container overflow */
.clear:after 
{
    clear: both;
    content: "";
    display: table;
}
